@model Models.Models.Product

@{
    ViewBag.Title = "Full Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-horizontal col-md-8">
    <h2>All Details for @Model.Title</h2>

    <div>
        <h4>Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShortDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LongDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LongDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            @if (Model.PictureOne != null)
    {
        <dt>
            @Html.DisplayNameFor(model => model.PictureOne)
        </dt>

        <dd>
            @{
        var base64 = Convert.ToBase64String(Model.PictureOne);
        var imgSrc = String.Format("data:image;base64,{0}", base64);
        <img src="@imgSrc" width="150" height="150" />
            }

        </dd>
}
            @if (Model.PictureTwo != null)
    {
        <dt>
            @Html.DisplayNameFor(model => model.PictureTwo)
        </dt>
        
        <dd>
            @{
        var base64 = Convert.ToBase64String(Model.PictureTwo);
        var imgSrc = String.Format("data:image;base64,{0}", base64);
        <img src="@imgSrc" width="150" height="150" />
            }
        </dd>
        
}
            @if (Model.PictureThree != null)
    {
        <dt>
            @Html.DisplayNameFor(model => model.PictureThree)
        </dt>
        <dd>
            @{

        var base64 = Convert.ToBase64String(Model.PictureThree);
        var imgSrc = String.Format("data:image;base64,{0}", base64);
        <img src="@imgSrc" width="150" height="150" />
            }
        </dd>
}

            <dt>
                @Html.DisplayNameFor(model => model.User.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.UserName)
                ,Born on: @Html.DisplayFor(model => model.User.BirthDate)
                ,Email: @Html.DisplayFor(model => model.User.Email)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Add to cart", "AddToCart", "Product", new { id = Model.ID }, new { @class = "btn btn-success" })
        @Html.ActionLink("Back to List", "GetProductAviable", "Home",new { }, new { @class = "btn btn-info" })

    </p>
</div>
